[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

* {
  margin: 0;
  padding: 0; }

.outer-container {
  text-align: center;
  margin-top: 5em; }

.inner-container {
  margin: 0 auto;
  display: inline-block; }
  .inner-container section {
    margin: 2em;
    min-width: 15em;
    display: inline-block;
    text-align: center;
    transition: 200ms linear all; }
    .inner-container section ul {
      list-style-type: none; }

.hidden {
  opacity: 0;
  transition: 200ms linear all; }

body {
  font-size: 1.3em; }

.button-sort {
  width: 7em;
  font-size: 1.5em;
  border: 1px solid white;
  border-radius: 0.4em;
  cursor: pointer; }
