[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #19B5FE; }

.outer-container {
  text-align: center;
  margin-top: 5em; }

.inner-container {
  margin: 0 auto;
  display: inline-block; }
  .inner-container section {
    margin: 2em;
    min-width: 15em;
    display: inline-block;
    text-align: center;
    transition: 200ms linear all; }
    .inner-container section ul {
      list-style-type: none; }

.hidden {
  opacity: 0;
  -webkit-transform: translateY(3em);
          transform: translateY(3em); }

body {
  font-size: 1.3em;
  color: #ECF0F1;
  font-family: 'Lato', sans-serif; }

.button-sort {
  transition: 200ms ease-in-out all;
  width: 7em;
  background-color: #19B5FE;
  color: #ECF0F1;
  font-size: 1.5em;
  border: 2px solid #ECF0F1;
  border-radius: 0.4em;
  cursor: pointer; }

.button-sort:hover {
  background-color: #ECF0F1;
  color: #19B5FE; }
