.outer-container
	text-align: center

.inner-container
	// display: flex
	// flex-flow: row wrap
	// align-items: center
	border: 1px solid black
	width: 65em
	margin: 0 auto
	display: inline-block
	// position: relative


	section
		// flex: 1
		margin: 2em
		min-width: 15em
		display: inline-block
		text-align: center
		transition: 200ms linear all
		ul
			list-style-type: none

	// .section-mid
	// 	text-align: center



.hidden
	opacity: 0
	transition: 200ms linear all

