<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sorting Algorithm</title>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<div ng-controller="CtrlMain as vm" class="ng-cloak outer-container">
		<div class="inner-container">
			<section class="section-left" ng-class="{'hidden': vm.sorted}">
				<ul id="list-unsorted">
					<li ng-repeat="item in vm.items">{{ item }}</li>
				</ul>
			</section>
			<section class="section-mid">
				<button class="button-sort" ng-click="vm.sort(vm.items)">
					<span ng-if="!vm.sorted">Sort</span>
					<span ng-if="vm.sorted">Sorted!</span>
				</button>
			</section>
			<section  class="section-right" ng-class="{'hidden': !vm.sorted}">
				<ul id="list-sorted">
					<li ng-repeat="item in vm.sortedItems">{{ item }}</li>
				</ul>
			</section>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="components/library.js"></script>
</body>
</html>